---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import location from "../assets/images/media/location.png";

const details = await getCollection("details");
---

<BaseLayout
  title="Contact"
  description={"Get in contact with " + details[0].data.name}
>
  <section id="welcome" class="flex flex-col text-center pt-20 px-3 gap-4">
    <h1 id="Contact Us">Contact Us</h1>
    <div
      class="flex flex-col text-center justify-center items-center mt-6 max-w-[710px] mx-auto"
    >
      <h2
        class="text-3xl max-[710px]:text-2xl max-[578px]:text-xl max-[394px]:max-w-[190px] my-8"
      >
        Schedule sessions in person or on-line. <br />Children will only be seen
        in person.
      </h2>
    </div>
  </section>

  <hr class="my-20" />

  <section
    id="contact-info"
    class="flex flex-col text-center max-w-4xl mx-auto mt-16 px-3 gap-8"
  >
    <div
      class="flex flex-col text-center justify-center items-center mt-6 max-w-[710px] mx-auto"
    >
      <h2
        class="text-3xl max-[710px]:text-2xl max-[578px]:text-xl max-[394px]:max-w-[190px]"
      >
        Send an email or call.
      </h2>
    </div>
    <div class="flex flex-col gap-6 text-center justify-center items-center">
      <div>
        <p>Email</p>
        <a
          title={details[0].data.email}
          href={`mailto:${details[0].data.email}`}>{details[0].data.email}</a
        >
      </div>
      <div>
        <p>Phone</p>
        <a
          title={details[0].data.phone}
          href={`tel:${details[0].data.phone.replace(/\((\d{3})\)\s(\d{3})-(\d{4})/, "$1-$2-$3")}`}
          >{details[0].data.phone}</a
        >
      </div>
    </div>
  </section>

  <hr class="my-20" />

  <section
    id="address"
    class="flex flex-col text-center max-w-4xl mx-auto mt-16 mb-36 px-3 gap-8"
  >
    <div
      class="flex flex-col text-center justify-center items-center mt-6 max-w-[710px] mx-auto"
    >
      <h2
        class="text-3xl max-[710px]:text-2xl max-[578px]:text-xl max-[394px]:max-w-[190px]"
      >
        Visit our office.
      </h2>
    </div>
    <div>
      <p>Main Offices</p>
      <div
        class="flex flex-col gap-x-4 gap-y-8 mx-auto justify-center w-full items-center text-center"
      >
        <ul class="list-none">
          <li
            class="flex flex-col gap-1 text-left max-[318px]:text-center text-xl leading-7 text-stone-600"
          >
            {details[0].data.address.addressLineOne}<br />
            {details[0].data.address.addressLineTwo}<br />
            {details[0].data.address.addressCity}, {
              details[0].data.address.addressState
            }
            {details[0].data.address.addressZip}
          </li>
        </ul>
      </div>
      <div
        class="my-8 flex flex-col gap-x-4 gap-y-8 mx-auto justify-center w-full items-center text-center"
      >
        <picture>
          <Image
            src={location}
            alt={details[0].data.name}
            width="640"
            height="480"
            decoding="async"
            class="rounded-lg"
          />
        </picture>
      </div>
    </div>
  </section>
</BaseLayout>
