---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import CardTerm from "@components/CardTerm.astro";
import CardTreatment from "@components/CardTreatment.astro";
import CardInsurance from "@components/CardInsurance.astro";
import CardClinician from "@components/CardClinician.astro";
import { Icon } from "astro-icon/components";

const clinicians = await getCollection("author");
const terms = await getCollection("terms");
const treatments = await getCollection("treatments");
const details = await getCollection("details");
---

<BaseLayout
  title={details[0].data.name}
  description={details[0].data.description}
>
  <section id="hero" class="mt-[-64px] pt-12 border-b w-full">
    <div id="hero-container" class="m-auto w-full">
      <div
        id="hero-content"
        class="flex flex-col flex-1 justify-start justify-items-start items-start bg-[url('/assets/images/bb.jpg')] bg-cover bg-no-repeat bg-center bg-local w-full h-[666px] overflow-hidden text-white align-top"
      >
        <div
          class="flex flex-col items-center bg-gray-500 bg-clip-padding mask-to-t bg-opacity-20 backdrop-blur backdrop-filter backdrop-contrast-100 backdrop-saturate-100 mx-auto mt-10 py-7 w-full text-center align-middle"
        >
          <div
            class="flex flex-col items-center gap-3 max-[460px]:gap-6 max-[460px]:max-w-[290px] max-[850px]:max-w-[440px] text-center align-middle"
          >
            <p
              class="drop-shadow text-2xl leading-normal tracking-wide merienda"
            >
              Therapy is about where you are and where you want to go.
            </p>
            <p
              class="drop-shadow text-2xl leading-normal tracking-wide merienda"
            >
              It is about acceptance of your values and the goals that you seek.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col justify-end items-end gap-6 mx-auto mt-6 px-12 py-6 rounded-full max-w-[730px] text-xl text-center align-middle grow"
        >
          <a
            class="bg-gray-500 bg-clip-padding bg-opacity-30 hover:bg-opacity-10 shadow backdrop-blur backdrop-filter backdrop-contrast-100 backdrop-saturate-100 p-4 rounded-full duration-150"
            href="#welcome"
            title="Continue Reading"
            aria-label="Continue Reading"
          >
            <i class="menuIcon"><Icon name="arrow" /></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="welcome" class="flex flex-col gap-4 mt-32 px-3 text-center">
    <h1
      class="font-extralight max-[380px]:text-3xl"
      id={details[0].data.nameShort1}
    >
      Welcome to <br />{details[0].data.nameShort1}
    </h1>
    <div
      class="flex flex-col justify-center items-center gap-8 mx-auto my-8 text-center"
    >
      <h2 class="max-[580px]:max-w-[326px] max-[694px]:text-3xl merienda">
        We are looking forward to meeting you.
      </h2>

      <h2
        class="max-[394px]:max-w-[190px] font-extralight max-[578px]:text-xl max-[710px]:text-2xl text-3xl"
      >
        Schedule sessions in person or online. <br />Children will only be seen
        in person.
      </h2>
    </div>
  </section>

  <section id="contact-hero" class="mt-20 mb-28 w-full">
    <div id="contact-hero-container" class="m-auto w-full">
      <div
        id="contact-hero-content"
        class="flex flex-col flex-1 justify-center justify-items-center items-center bg-[url('/assets/images/bg.png')] mask-to-t bg-cover bg-no-repeat bg-center bg-local w-full overflow-hidden text-white align-top"
      >
        <div
          class="flex flex-col justify-center items-center bg-stone-200 bg-clip-padding mask-to-t-10 bg-opacity-5 backdrop-blur backdrop-filter backdrop-contrast-100 backdrop-saturate-100 mx-auto my-20 lg:my-12 pt-12 lg:pt-6 pb-16 lg:pb-8 w-full text-center align-middle"
        >
          <div
            class="flex max-lg:flex-col justify-center items-center gap-x-20 gap-y-16 text-center align-middle"
          >
            <div
              class="flex max-sm:flex-col justify-center items-start gap-x-20 gap-y-16 mx-auto text-center align-middle"
            >
              <div class="flex flex-col gap-1 mx-auto text-center">
                <h2 class="font-light text-black text-xl">Phone</h2>
                <a
                  title={details[0].data.phone}
                  href={`tel:${details[0].data.phone.replace(/\((\d{3})\)\s(\d{3})-(\d{4})/, "$1-$2-$3")}`}
                >
                  {details[0].data.phone}
                </a>
              </div>
              <div class="flex flex-col gap-1 mx-auto text-center">
                <h2 class="font-light text-black text-xl">Email</h2>
                <a
                  title={details[0].data.email}
                  href={`mailto:${details[0].data.email.toLowerCase()}`}
                >
                  {details[0].data.email}
                </a>
              </div>
            </div>
            <div class="flex flex-col gap-1 mx-auto text-center">
              <h2 class="font-light text-black text-xl">Office</h2>
              <div class="flex flex-col gap-x-4 gap-y-1 mx-auto text-center">
                <a
                  title="Visit our office"
                  href="/contact#contact-info"
                  class="flex flex-col gap-1 text-left max-[318px]:text-center"
                >
                  {details[0].data.address.addressLineOne}<br />
                  {details[0].data.address.addressLineTwo}<br />
                  {details[0].data.address.addressCity}, {
                    details[0].data.address.addressState
                  }
                  {details[0].data.address.addressZip}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="clinicians" class="flex flex-col gap-4 px-3 text-center">
    <h1 id="Meet Our Clinicians">Meet Our Clinicians</h1>
    <div class="flex flex-col mx-auto max-w-4xl text-justify">
      {
        clinicians.length >= 1 && (
          <div class="flex flex-row max-[626px]:flex-wrap justify-center items-center gap-4 mx-0 w-full text-center">
            {clinicians
              .sort((a, b) => a.data.order - b.data.order)
              .map((clinician) => (
                <CardClinician author={clinician} />
              ))}
          </div>
        )
      }
    </div>
  </section>

  <section id="types-terms-hero" class="w-full">
    <div id="types-terms-hero-container" class="m-auto w-full">
      <div
        id="types-terms-hero-content"
        class="flex flex-col flex-1 justify-center justify-items-center items-center bg-[url('/assets/images/bg.png')] mask-to-t-10 bg-cover bg-no-repeat bg-center bg-local w-full align-top"
      >
        <div
          class="flex flex-col justify-center items-center mask-to-t-10 mx-auto py-20 w-full text-center align-middle"
        >
          <section
            id="types-and-terms"
            class="flex lg:flex-row flex-col justify-between lg:items-start gap-x-2 lg:gap-x-16 mx-auto my-52 px-3 max-w-[1620px] text-center align-middle item-center"
          >
            <section
              id="types"
              class="flex flex-col justify-center items-center mx-auto max-lg:px-3 max-w-[515px] text-center align-middle"
            >
              {
                treatments.length >= 1 && (
                  <div class="flex flex-col text-justify">
                    <h2 id="treatment-types" class="text-center">
                      Treatment Types
                    </h2>
                    <div class="flex flex-col gap-4 mt-4">
                      {treatments
                        .sort((a, b) => a.data.name.localeCompare(b.data.name))
                        .map((treatment) => (
                          <CardTreatment treatment={treatment} />
                        ))}
                    </div>
                  </div>
                )
              }
            </section>

            <hr class="lg:hidden my-20" />

            <section
              id="terms"
              class="flex flex-wrap justify-center items-center mx-auto max-lg:px-3 text-center align-middle"
            >
              {
                terms.length >= 1 && (
                  <div class="flex flex-col justify-center items-center place-items-center mx-auto w-full max-w-[491px] lg:max-w-[800px] text-center align-middle grow">
                    <h2 id="specialties-expertise" class="text-center">
                      Specialties & Expertise
                    </h2>
                    <div class="flex flex-wrap justify-center items-start place-items-start gap-4 mx-auto mt-4 w-full max-[1270px]:max-w-[491px] min-[1270px]:max-w-fit text-center align-middle grow">
                      {terms.map((term) => (
                        <CardTerm term={term} />
                      ))}
                    </div>
                  </div>
                )
              }
            </section>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section
    id="finances"
    class="flex flex-col justify-center items-center gap-4 mx-auto mb-40 px-6 text-center align-middle"
  >
    <h2 id="insurances">Insurances</h2>
    <div
      class="flex flex-wrap justify-center items-center gap-4 max-w-[1420px] text-center align-middle"
    >
      {
        details[0] &&
          details[0].data.insurances &&
          details[0].data.insurances.map((insurance) => (
            <CardInsurance name={insurance} />
          ))
      }
    </div>

    <p class="text-stone-500">
      <em class="font-bold text-lg">
        NOTE:
        <em class="font-normal text-base">
          Check with your provider for copay and deductible! <br />Not all
          clinicians take all insurances; please check with the office!
        </em>
      </em>
    </p>

    <h2 id="self-pay" class="mt-16">Self-Pay</h2>
    <div
      id="self-pay-info"
      class="flex flex-col justify-center items-center gap-4 p-4 border border-lifeBackground rounded-lg text-center align-middle grow"
    >
      <p class="mt-2 text-2xl">$100 per session</p>
      <p class="max-sm:max-w-52 text-stone-500">
        <em
          >We work with you on a sliding scale to <br />provide services that
          match your budget.</em
        >
      </p>
    </div>
  </section>
</BaseLayout>
