---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import CardTerm from "@components/CardTerm.astro";
import CardTreatment from "@components/CardTreatment.astro";
import CardInsurance from "@components/CardInsurance.astro";
import { Icon } from "astro-icon/components";

const terms = await getCollection("terms");
const treatments = await getCollection("treatments");
const details = await getCollection("details");
---

<BaseLayout
  title={details[0].data.name}
  description={details[0].data.description}
>
  <section id="hero" class="w-full border-b pt-12 mt-[-64px]">
    <div id="hero-container" class="w-full m-auto">
      <div
        id="hero-content"
        class="text-white w-full overflow-hidden flex flex-1 flex-col align-top items-start justify-items-start justify-start h-[666px] bg-center bg-cover bg-local bg-no-repeat bg-[url('/assets/images/bb.jpg')]"
      >
        <div
          class="flex flex-col mt-10 mx-auto align-middle items-center text-center w-full py-7 bg-gray-500 bg-clip-padding mask-to-t backdrop-filter backdrop-blur bg-opacity-20 backdrop-saturate-100 backdrop-contrast-100"
        >
          <div
            class="flex flex-col gap-3 align-middle items-center text-center max-[850px]:max-w-[440px] max-[460px]:max-w-[290px] max-[460px]:gap-6"
          >
            <p
              class="merienda tracking-wide leading-normal text-2xl drop-shadow"
            >
              Therapy is about where you are and where you want to go.
            </p>
            <p
              class="merienda tracking-wide leading-normal text-2xl drop-shadow"
            >
              It is about acceptance of your values and the goals that you seek.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col grow gap-6 mt-6 mx-auto align-middle items-end justify-end text-center max-w-[730px] px-12 py-6 text-xl rounded-full"
        >
          <a
            class="bg-gray-500 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-30 hover:bg-opacity-10 backdrop-saturate-100 backdrop-contrast-100 rounded-full p-4 shadow duration-150"
            href="#welcome"
            title="Continue Reading"
            aria-label="Continue Reading"
          >
            <i class="menuIcon"><Icon name="arrow" /></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="welcome" class="mt-32 flex flex-col text-center px-3 gap-4">
    <h1
      class="max-[380px]:text-3xl font-extralight"
      id={details[0].data.nameShort1}
    >
      Welcome to <br /><em>{details[0].data.nameShort1}</em>
    </h1>
    <div
      class="flex flex-col text-center justify-center items-center my-8 gap-8 mx-auto"
    >
      <h2 class="max-[694px]:text-3xl max-[580px]:max-w-[326px] merienda">
        We are looking forward to meeting you.
      </h2>

      <h2
        class="text-3xl max-[710px]:text-2xl max-[578px]:text-xl max-[394px]:max-w-[190px] font-extralight"
      >
        Schedule sessions in person or on-line. <br />Children will only be seen
        in person.
      </h2>
    </div>
  </section>

  <section id="contact-hero" class="w-full mt-20 mb-32">
    <div id="contact-hero-container" class="w-full m-auto">
      <div
        id="contact-hero-content"
        class="text-white w-full overflow-hidden flex flex-1 flex-col align-top items-center justify-items-center justify-center bg-center bg-cover bg-local bg-no-repeat bg-[url('/assets/images/bg.png')] mask-to-t"
      >
        <div
          class="my-20 lg:my-12 pt-12 pb-16 lg:pt-6 lg:pb-8 flex flex-col mx-auto align-middle items-center text-center w-full bg-stone-200 bg-clip-padding mask-to-t-10 backdrop-filter backdrop-blur bg-opacity-5 backdrop-saturate-100 backdrop-contrast-100"
        >
          <div
            class="flex max-lg:flex-col gap-x-20 gap-y-16 text-center justify-center items-start align-middle mx-auto"
          >
            <div
              class="flex max-sm:flex-col gap-x-20 gap-y-16 text-center justify-center items-start align-middle mx-auto"
            >
              <div class="flex flex-col gap-1 text-center mx-auto">
                <h2 class="text-black text-xl font-light">Phone</h2>
                <a
                  title={details[0].data.phone}
                  href={`tel:${details[0].data.phone.replace(/\((\d{3})\)\s(\d{3})-(\d{4})/, "$1-$2-$3")}`}
                >
                  {details[0].data.phone}
                </a>
              </div>
              <div class="flex flex-col gap-1 text-center mx-auto">
                <h2 class="text-black text-xl font-light">Email</h2>
                <a
                  title={details[0].data.email}
                  href={`mailto:${details[0].data.email.toLowerCase()}`}
                >
                  {details[0].data.email}
                </a>
              </div>
            </div>
            <div class="flex flex-col gap-1 text-center mx-auto">
              <h2 class="text-black text-xl font-light">Office</h2>
              <div class="flex flex-col gap-x-4 gap-y-1 mx-auto text-center">
                <a
                  title="Visit our office"
                  href="/contact#contact-info"
                  class="flex flex-col gap-1 text-left max-[318px]:text-center"
                >
                  {details[0].data.address.addressLineOne}<br />
                  {details[0].data.address.addressLineTwo}<br />
                  {details[0].data.address.addressCity}, {
                    details[0].data.address.addressState
                  }
                  {details[0].data.address.addressZip}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="homepage-content"
    class="flex flex-col md:flex-row text-center max-w-[1000px] mx-auto"
  >
    <section
      id="types"
      class="flex flex-col text-center max-w-[515px] mx-auto px-3"
    >
      {
        treatments.length >= 1 && (
          <div class="flex flex-col text-justify">
            <h2 id="treatment-types" class="text-center">
              Treatment Types
            </h2>
            <div class="flex flex-col mt-4 gap-4">
              {treatments
                .sort((a, b) => a.data.name.localeCompare(b.data.name))
                .map((treatment) => (
                  <CardTreatment treatment={treatment} />
                ))}
            </div>
          </div>
        )
      }
    </section>

    <hr class="my-20 md:hidden" />

    <section
      id="insurances"
      class="flex flex-col text-center max-w-[625px] md:max-w-[438px] mx-auto px-3 gap-4"
    >
      <h2 id="finances">Finances</h2>
      <div
        class="flex flex-wrap gap-4 text-center justify-center items-center align-middle"
      >
        {
          details[0] &&
            details[0].data.insurances &&
            details[0].data.insurances.map((insurance) => (
              <CardInsurance name={insurance} />
            ))
        }
      </div>

      <p>
        <em class="text-lg font-bold">
          NOTE:
          <em class="text-base font-normal">
            Not all clinicians take all insurances; <br />please check with the
            office!
          </em>
        </em>
      </p>
    </section>
  </section>

  <hr class="my-20" />

  <section
    id="terms"
    class="flex flex-col text-center max-w-[775px] mb-32 mx-auto px-3"
  >
    {
      terms.length >= 1 && (
        <div class="flex flex-col text-justify max-w-[625px] mx-auto">
          <h2 id="specialties-expertise" class="text-center">
            Learn More
          </h2>
          <div class="flex flex-col mt-4 gap-4">
            {terms.map((term) => (
              <CardTerm term={term} />
            ))}
          </div>
        </div>
      )
    }
  </section>
</BaseLayout>
