---
import { marked } from "marked";
import type { CollectionEntry } from "astro:content";

export interface Props {
  author: CollectionEntry<"author">;
}

const { author } = Astro.props;
const content = await marked.parse(
  author.data.biography.replace(/\n(?=\n)/g, "\n\n<br/>\n"),
);

function capitalizeEmail(str) {
  const [localPart, domain] = str.split("@");
  const capitalizedDomain =
    domain === "counseling-therapy.org" ? "Counseling-Therapy.org" : domain;
  return (
    localPart.charAt(0).toUpperCase() +
    localPart.slice(1).toLowerCase() +
    "@" +
    capitalizedDomain
  );
}
---

<div id={author.data.name} class="flex flex-col gap-6">
  <div
    id={author.data.name + "-details"}
    class="flex flex-row gap-4 items-center justify-center max-[745px]:flex-col"
  >
    <img
      class="object-cover w-[350px] h-[350px] mt-3 mr-3 rounded-full"
      src={typeof author.data.photo === "object" &&
      author.data.photo !== null &&
      "src" in author.data.photo
        ? author.data.photo.src.replace(/^.*\/src\/assets\//, "/src/assets/")
        : ""}
      alt={author.data.name}
      decoding="async"
      loading="lazy"
      width="350px"
      height="350px"
    />
    <div class="flex flex-col gap-4">
      <div
        class="flex max-[745px]:flex-col items-end max-[745px]:items-center gap-2 max-[745px]:text-center max-[745px]:justify-center"
      >
        <h3 id={author.data.name + "-name"}>{author.data.name}</h3>
        <p class="text-stone-600 text-md">{author.data.qualifications}</p>
      </div>
      <div class="flex flex-row max-[920px]:flex-col text-center gap-4">
        {
          author.data.email && (
            <a
              class="button"
              class="break-all"
              href={"mailto:" + author.data.email}
              title={author.data.email}
            >
              {capitalizeEmail(author.data.email)}
            </a>
          )
        }
      </div>
      <div class="flex flex-row max-[920px]:flex-col text-center gap-4">
        {
          (author.data.link_psychology_today || author.data.link_psychology_today !== "") && (
            <a
              class="button"
              href={author.data.link_psychology_today}
              title="Psychology Today"
            >
              Psychology Today
            </a>
          )
        }
        {
          (author.data.link_linkedin || author.data.link_linkedin !== "") && (
            <a class="button" href={author.data.link_linkedin} title="LinkedIn">
              LinkedIn
            </a>
          )
        }
      </div>
    </div>
  </div>

  {
    author.data.biography && (
      <section id={author.data.name + "-bio"} class="text-justify">
        <p set:html={content} />
      </section>
    )
  }
</div>
