---
export interface Props {
  post: {
    slug: string;
    data: {
      image?: {
        src: string;
        width: number;
        height: number;
      };
      imageAlt?: string;
      title: string;
    };
    body: string;
  };
}

const { post } = Astro.props;
---

<article
  id={post.slug}
  class="flex flex-col gap-4 p-4 border border-lifeBorder rounded-lg max-w-2xl text-left"
>
  {
    post.data.image && (
      <a title={post.data.title} href={"/blog/" + post.slug}>
        <img
          src={post.data.image.src}
          alt={post.data.imageAlt ? post.data.imageAlt : post.data.title}
          width={post.data.image.width}
          height={post.data.image.height}
          decoding="async"
          loading="lazy"
          class="rounded-lg w-full min-h-32 max-h-60 object-cover"
          style="aspect-ratio: 16/9;"
        />
      </a>
    )
  }
  <a title={post.data.title} href={"/blog/" + post.slug}><h2 id={post.data.title}>{post.data.title}</h2></a>
  <p>
    {
      post.body
        .split(" ")
        .slice(0, 20)
        .join(" ")
        .replace(/[#*_\`]/g, "")
        .replace(/\[([^\]]+)\]\([^\)]+\)/g, "$1")
        .trim() + (post.body.split(" ").length > 20 ? "..." : "")
    }
  </p>
  <a class="text-2xl" title={post.data.title} href={"/blog/" + post.slug}
    >Continue Reading...</a
  >
</article>
