---
import type { CollectionEntry } from "astro:content";

export interface Props {
  author: CollectionEntry<"author">;
}

const { author } = Astro.props;
---

<div
  class="flex flex-col gap-4 max-w-xl border border-lifeBorder p-4 rounded-lg text-left"
>
  <span class="italic">Author</span>

  <div class="flex max-sm:flex-col items-center max-sm:items-start gap-4">
    <img
      class="object-cover w-24 h-24 mt-3 mr-3 rounded-full"
      src={typeof author.data.photo === "object" &&
      author.data.photo !== null &&
      "src" in author.data.photo
        ? author.data.photo.src.replace(/^.*\/src\/assets\//, "/src/assets/")
        : ""}
      alt={author.data.name}
      decoding="async"
      loading="lazy"
    />
    <div class="flex flex-col items-start gap-2">
      <a href={"/clinicians#" + author.data.name} title={author.data.name}
        ><p itemprop="author" id={author.data.name + "-name"} class="text-2xl">
          <strong>{author.data.name}</strong>
        </p></a
      >
      <p class="text-stone-600 text-md">{author.data.qualifications}</p>
    </div>
  </div>

  <div>
    <p>{author.data.bio}</p>
  </div>
</div>
