---
import { getCollection } from "astro:content";
import navData from "@data/navData.json";
import { getCurrentYear } from "@js/utils";

const details = await getCollection("details");
const currentYear = getCurrentYear();
---

<footer
  id="footer"
  class="bg-lifeBackground border-t border-lifeBorder pt-16 pb-2 px-3 flex flex-col justify-center items-center"
>
  <section id="footer-container" class="flex flex-col w-full gap-20">
    <section id="footer-logo" class="flex flex-col items-center">
      <a title={details[0].data.name} href="/">
        <img
          src="/assets/svgs/logotype.svg"
          alt={details[0].data.name}
          width="350"
          height="350"
          decoding="async"
          loading="lazy"
          class="bg-transparent"
        />
      </a>
    </section>
    <section id="footer-links" class="flex text-center mb-8">
      <div class="flex flex-col mx-auto text-center">
        <ul
          class="list-none flex flex-row max-sm:flex-col gap-x-20 max-lg:gap-x-14 gap-y-12 text-center"
        >
          {
            navData.map((entry) => (
              <li>
                <a title={entry.title} href={entry.href}>
                  {entry.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section
      id="footer-contact"
      class="flex flex-col gap-x-4 gap-y-16 justify-between w-full mx-auto"
    >
      <div
        class="flex max-lg:flex-col gap-20 text-center justify-center items-start align-middle mx-auto"
      >
        <div
          class="flex max-sm:flex-col gap-20 text-center justify-center items-start align-middle mx-auto"
        >
          <div class="flex flex-col gap-1 text-center mx-auto">
            <p>Phone</p>
            <a
              title={details[0].data.phone}
              href={`tel:${details[0].data.phone.replace(/\((\d{3})\)\s(\d{3})-(\d{4})/, "$1-$2-$3")}`}
            >
              {details[0].data.phone}
            </a>
          </div>
          <div class="flex flex-col gap-1 text-center mx-auto">
            <p>Email</p>
            <a
              title={details[0].data.email}
              href={`mailto:${details[0].data.email.toLowerCase()}`}
            >
              {details[0].data.email}
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-1 text-center mx-auto">
          <p>Office</p>
          <div class="flex flex-col gap-x-4 gap-y-1 mx-auto text-center">
            <a
              title="Visit our office"
              href="/contact#contact-info"
              class="flex flex-col gap-1 text-left max-[318px]:text-center"
            >
              {details[0].data.address.addressLineOne}<br />
              {details[0].data.address.addressLineTwo}<br />
              {details[0].data.address.addressCity}, {
                details[0].data.address.addressState
              }
              {details[0].data.address.addressZip}
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section
    id="footer-credits"
    class="flex flex-col text-center mt-16 py-8 px-3"
  >
    <p class="text-sm text-stone-300">
      <a
        href="https://outputwebsites.com"
        target="_blank"
        rel="noopener"
        class="text-stone-300 text-sm">Website Output</a
      > by <a
        href="https://derek-perry.com"
        target="_blank"
        rel="noopener"
        class="text-stone-300 text-sm">Derek Perry</a
      >
    </p>
    <p id="copyright" class="text-sm text-stone-400">
      Copyright 2024 - {currentYear}
    </p>
  </section>
</footer>
