---
import { getCollection } from "astro:content";
import navData from "@data/navData.json";
import { Icon } from "astro-icon/components";

const details = await getCollection("details");
---

<header>
  <div class="flex gap-2 justify-between items-center w-full justify-end">
    <a
      href="/"
      aria-label="Home"
      class="max-[460px]:hidden min-h-[75px] min-w-[75px] flex justify-between items-center"
    >
      <img
        src="/assets/svgs/logo.svg"
        alt=""
        width="75"
        height="75"
        aria-hidden="true"
        decoding="async"
        class="bg-transparent"
      />
    </a>
    <div id="navName" class="w-full flex flex-col text-black">
      <p class="no-underline max-[460px]:text-lg max-[375px]:text-base">
        {details[0].data.nameShort1}
      </p>
      <p class="no-underline max-[460px]:text-lg max-[375px]:text-base">
        {details[0].data.nameShort2}
      </p>
    </div>
    <button class="navMenu" title="Menu">
      <label for="dropdown">
        <i class="menuIcon menuBars"><Icon name="menu" /></i>
        <i class="menuIcon menuX"><Icon name="x" /></i>
      </label>
      <input type="checkbox" id="dropdown" />
    </button>
  </div>
  <ul class="navigation list-none">
    {
      navData.map((item) => (
        <li>
          <a
            href={item.href}
            title={item.title}
            class="py-2 px-4 w-full h-full flex justify-center items-center text-center text-xl text-black break-keep whitespace-nowrap no-underline"
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</header>
